*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 22px;
  height: 100%;
}

body{
  min-height: 100vh;
  height: 100%;
  font-family: 'Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 3px solid mediumblue;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 85px;
  
  
  
}

header{
  width: 100%;
  padding: 0 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

main{
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumblue;
  color: aliceblue;
  padding: 1rem;
}
 
ul{
  /* border: 2px solid black; */
  width:100%;
  padding: 0 0.25rem;
}

ul li{
  list-style: none;
  margin: 0.25rem;
  padding:0 0.25rem 0.25rem;
  

  
}

ul li::before{
  content:"\200B";
}

.item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0.5rem;
  /* border: 2px solid black; */
  margin: 0.25rem 0;
  background-color: #eee;
}

.item:first-child{
  margin: 0;
}

.item input[type="checkbox"]{
  text-align: center;
  width: 2.5rem;
  max-width: 48px;
  min-width: 48px;
  height: 2.5rem;
  max-height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item > label{
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg{
  /* border: 2px solid black; */
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item svg:focus,
.item svg:hover{
  color: red;
  outline: none;
} 

.item input[type="checkbox"]:focus + label{

  text-decoration: underline;
}

.addForm{
  /* border: 2px solid black; */
  width:100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 0.5rem 0.25rem;
  margin: 0.5rem 0 0;
}
.addForm label{
  position: absolute;
  left: -99999px;
}

.addForm input[type="text"]{
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
  margin-right: 0.25rem;
}

button{
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: red;
  cursor: pointer;


}

button:focus,button:hover{
  color: green;
}

/* search form css */

.searchForm{
  /* border: 2px solid black; */
  width: 98%;
  border-radius: 0.25rem;
  margin:  0 0.25rem 0.25rem;
  padding: 0.25rem;
  height: 65px;
  
}

.searchForm label{
   position: absolute;
   left: -9999px;
  
}

.searchForm input[type="text"]{
  width: 100%;
  height: 100%;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border-bottom: 2px solid grey;
  outline: none;
}