*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  min-height: 100%;
  font-size: 22px;
  /* border: 6px solid black; */
  display: grid;
}


body{
  /* min-height: 150vh; */
  
  font-family: 'Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border: 6px solid black; */
  min-height: 100%;
  font-size: 22px;
  display: grid;
  padding: 30px;
 
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid mediumblue; */
  width: 100%;
  max-width: 500px;
  margin: auto;
  height: 100%;
   background-color: #333;
  
}

header{
  width: 100%;
  padding: 0 0.25em;
  background:linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  /* border: 2px solid red; */
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  height: 100%;
  /* border: 5px solid orange; */
  flex:1;
  
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(135deg, #6a11cb, #2575fc);
  color: aliceblue;
  padding: 1rem;
  /* border: 2px solid red; */
}
 
ul{
  /* border: 2px solid black; */
  width:100%;
  padding: 10px;
}

ul li{
  list-style: none;
  margin: 0.25rem;
  padding:0.25rem 0.25rem;
  
  

  
}

ul li::before{
  content:"\200B";
}

.item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color:#f4f4f4;
  border-radius: 25px;
  margin-top: 25px;
  border: none;
  outline: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.item:first-child{
  margin: 0;
}

.item input[type="checkbox"]{
  text-align: center;
  width: 2.5rem;
  max-width: 48px;
  min-width: 48px;
  height: 2.5rem;
  max-height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item > label{
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg{
  /* border: 2px solid black; */
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item svg:focus,
.item svg:hover{
  color: red;
  outline: none;
} 

.item input[type="checkbox"]:focus + label{

  text-decoration: underline;
}

.addForm{
  /* border: 2px solid black; */
  width:100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 0.5rem 0.25rem;
  margin: 0.5rem 0 0;
}
.addForm label{
  position: absolute;
  left: -99999px;
}

.addForm input[type="text"]{
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 1rem;
  outline: none;
  margin-right: 0.25rem;
  border: none;

}

button{
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  cursor: pointer;
  outline: none;
  border:none;
  font-weight: bold;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:focus,button:hover{
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  transform: scale(1.05);
}

/* search form css */

.searchForm{
  /* border: 2px solid black; */
  width: 98%;
  border-radius: 0.25rem;
  margin:  0 0.25rem 0.25rem;
  padding: 0.25rem;
  height: 65px;
  outline: none;

}


.searchForm label{
   position: absolute;
   left: -9999px;
  
}

.searchForm input[type="text"]{
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  margin-right: 0.4rem;
  border: none;
  
}

.search-icon{
  color: black;
  position: relative;
  left: 89%;
  top:-40px;
  font-size: calc(0.8rem + 1vw);
  
  
}

.search-btn:hover{
  color: red;
  font-size: 1rem;
}

.spinner svg{
  color: green;
  font-size: 3.5rem;
  /* border: 2px solid black; */
 
  animation: spin 2s linear infinite forwards;
}
  


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}